<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="home/tabs/saved"
        color="light"
      ></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      Visualizar Programa
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row *ngIf="!savedProgram.length">
    <ion-col size="12">
      <ion-row>
        <ion-col size="12">
          <ion-card class="analizedCard">
            <ion-card-header class="ion-text-center">
              <strong>El programa no ha podido cargarse</strong>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="savedProgram.length">
    <ion-col size="12" *ngFor="let prog of savedProgram">
      <ion-row>
        <ion-card class="widthExp">
          <ion-grid class="tableGrid">
            <ion-row class="header">
              <ion-col>
                n1
              </ion-col>
              <ion-col>
                OPERADORES
              </ion-col>
              <ion-col>
                N1
              </ion-col>
            </ion-row>
            <ion-row *ngFor="let op of n1; let i = index" class="rows">
              <ion-col>
                {{ (i + 1) }}
              </ion-col>
              <ion-col>
                {{ op && op.operadores }}
              </ion-col>
              <ion-col>
                {{ op && op.N1 }}
              </ion-col>
            </ion-row>
            <ion-row class="header">
              <ion-col>
                {{ n1.length }}
              </ion-col>
              <ion-col>
                TOTAL
              </ion-col>
              <ion-col>
                {{ getTotalOfN1() }}
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-row>

      <ion-row>
        <ion-card class="widthExp">
          <ion-grid class="tableGrid">
            <ion-row class="header">
              <ion-col>
                n2
              </ion-col>
              <ion-col>
                OPERANDOS
              </ion-col>
              <ion-col>
                N2
              </ion-col>
            </ion-row>
            <ion-row *ngFor="let op2 of n2; let j = index;" class="rows">
              <ion-col>
                {{ (j + 1) }}
              </ion-col>
              <ion-col>
                {{ op2 && op2.operando }}
              </ion-col>
              <ion-col>
                {{ op2 && op2.N2 }}
              </ion-col>
            </ion-row>
            <ion-row class="header">
              <ion-col>
                {{ n2.length }}
              </ion-col>
              <ion-col>
                TOTAL
              </ion-col>
              <ion-col>
                {{ getTotalOfN2() }}
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-row>

      <ion-row>
        <ion-card class="widthExp">
          <ion-card-header color="warning" class="ion-text-center">Derivadas</ion-card-header>
          <ion-grid class="tableGrid">
            <ion-row>
              <p class="deriv">No. de operadores = n1: {{ n1.length }}</p>
            </ion-row>
            <ion-row>
              <p class="deriv">Total de operadores = N1: {{ getTotalOfN1() }}</p>
            </ion-row>
            <ion-row>
              <p class="deriv">No. de operandos = n2: {{ n2.length }}</p>
            </ion-row>
            <ion-row>
              <p class="deriv">Total de operandos = N2: {{ getTotalOfN2() }}</p>
            </ion-row>
            <ion-row>
              <p class="deriv">Longitud del programa = N: {{ (getTotalOfN1() + getTotalOfN2()) }}</p>
            </ion-row>
            <ion-row>
              <p class="deriv">Vocabulario del programa = n: {{ (n1.length + n2.length) }}</p>
            </ion-row>
            <ion-row>
              <p class="deriv">Volumen = V: {{ (getTotalOfN1() + getTotalOfN2()) * math.log2((n1.length + n2.length)) }}</p>
            </ion-row>
            <ion-row>
              <p class="deriv">Dificultad = D: {{ (n1.length/2) * (getTotalOfN2()/n2.length) }}</p>
            </ion-row>
            <ion-row>
              <p class="deriv">Nivel = L: {{ 1/((n1.length/2) * (getTotalOfN2()/n2.length)) }}</p>
            </ion-row>
            <ion-row>
              <p class="deriv">Esfuerzo = E: {{ ((n1.length/2) * (getTotalOfN2()/n2.length)) * (getTotalOfN1() + getTotalOfN2()) * math.log2((n1.length + n2.length)) }}</p>
            </ion-row>
            <ion-row>
              <p class="deriv">Tiempo = T: {{ (((n1.length/2) * (getTotalOfN2()/n2.length)) * (getTotalOfN1() + getTotalOfN2()) * math.log2((n1.length + n2.length)))/18 }} segundos</p>
            </ion-row>
            <ion-row>
              <p class="deriv">Bugs = B: {{ math.pow(((((n1.length/2) * (getTotalOfN2()/n2.length)) * (getTotalOfN1() + getTotalOfN2()) * math.log2((n1.length + n2.length)))/18), 0.66)/3000 }} segundos</p>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-content>
