<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Ver Código
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row *ngIf="allPrograms.length">
    <ion-col size="12" *ngFor="let prog of allPrograms">
      <ion-row>
        <ion-col size="12">
          <ion-card class="analizedCard">
            <ion-card-header class="ion-text-center">
              <strong *ngIf="allPrograms.length === 1">Programa leído</strong>
              <strong *ngIf="allPrograms.length > 1">Programas leídos</strong>
            </ion-card-header>
            <ion-card-content class="cardWithOverflow" class="ion-justify-content-center">
              <ion-text class="block" *ngFor="let line of prog">{{ line }}<br></ion-text>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="!allPrograms.length">
    <ion-col size="12">
      <ion-row>
        <ion-col size="12">
          <ion-card class="analizedCard">
            <ion-card-header class="ion-text-center">
              <strong>Por favor selecciona un programa en la pestaña <ion-icon color="dark" name="document"></ion-icon></strong>
            </ion-card-header>
            <ion-card-content class="cardWithOverflow" class="ion-justify-content-center">
              <ion-text class="block">El código se mostrará aquí cuando selecciones un archivo Python válido</ion-text>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-content>
