<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Menú Principal
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-padding marginTop">
      <ion-col size="12" class="ion-text-center">
        <ion-text class="title block">Erick Farid González Esquivel</ion-text>
        <ion-text class="title block">Lizeth Edith Amado Flores</ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding marginTop">
      <ion-col class="ion-text-center">
        <ion-button class="block" (click)="calcularMetricas()">Calcular métricas</ion-button>
        <ion-button class="block" (click)="verDB()">Ver base de datos</ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding marginTop horizontalScroll">
      <ion-card color="secondary" class="card">
        <ion-card-header>Paso 1</ion-card-header>
        <ion-card-content>Elige el archivo que quieres analizar en la pestaña <ion-icon color="dark" name="document"></ion-icon></ion-card-content>
      </ion-card>
      <ion-card color="tertiary" class="card">
        <ion-card-header>Paso 2</ion-card-header>
        <ion-card-content>Revisa el código leído en la prestaña <ion-icon color="dark" name="code"></ion-icon></ion-card-content>
      </ion-card>
      <ion-card color="success" class="card">
        <ion-card-header>Paso 3</ion-card-header>
        <ion-card-content>Verifica las métricas obtenidas del código en <ion-icon color="dark" name="analytics"></ion-icon></ion-card-content>
      </ion-card>
      <ion-card color="primary" class="card">
        <ion-card-header>Paso 4</ion-card-header>
        <ion-card-content>¡Guarda y revisa las métricas de tus archivos una y otra vez en <ion-icon color="dark" name="heart"></ion-icon>!</ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>
