<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="main">
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="file">
      <ion-icon name="document"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="code">
      <ion-icon name="code"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="metrics">
      <ion-icon name="analytics"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="saved">
      <ion-icon name="heart"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
